@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: InterRegular;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: InterExtraBold;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
  scroll-behavior: smooth;
}



:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-Inter: Inter;
  --font-Inter-Bold: InterBold;
  --font-Inter-ExtraBold: InterExtraBold;
  --Font-size-p: 15px;

  /* Primary Colors */
  --font-softOrange: hsl(35, 77%, 62%);
  --font-softRed: hsl(5, 85%, 63%);

  /* Neutral Colors */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  /*/////////// /////////// /////////// /////////// /////////// ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */
}




/* transitions */


.nav-close {
  opacity: 0;
  visibility: collapse;
  display: flex;
  transition-duration: 500ms;
}

.nav-open {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  display: flex;
  transition-duration: 500ms;
}

/* grids containers */
.main__div {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }



}

/* grid items */
@media (min-width: 768px) {
  .span_item:first-of-type {
    grid-column: span 2
  }

  .span_item:nth-of-type(3) {
    grid-column: span 3
  }
}



/* third grid-items for contents */
/* @media (min-width: 768px) {
  .span_self:first-of-type {
    grid-row: span 1;
    grid-column: span 2;
  }

  .span_self:nth-of-type(2) {
    grid-column: span 2
  }

  .span_self:nth-of-type(3) {
    grid-column: span 2/4;
  }
}

@media (min-width: 1024px) {
  .span_self:first-of-type {
    grid-row: unset;
    grid-column: unset;
  }

  .span_self:nth-of-type(2) {
    grid-column: unset
  }

  .span_self:nth-of-type(3) {
    grid-column: unset;
  }
}

 */

@layer base {
  body {
    @apply bg-n-8 text-n-8 text-base;
  }
}